.ipo-details-container {
  max-width: 1100px;
  margin: auto;
  padding: 24px;
}

.ipo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ipo-title {
  display: flex;
  align-items: center;
  gap: 14px;
}

.ipo-title img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid #e5e7eb;
}

.apply-btn {
  background: #15154c;
  color: #fff;
  padding: 10px 22px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  margin-top: 24px;
  border: 1px solid #eee;
}

.card h3 {
  margin-bottom: 16px;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.detail .label {
  font-size: 13px;
  color: #6b7280;
}

.detail .value {
  font-weight: 600;
  margin-top: 4px;
}

.danger {
  color: #eb0b0b;
}

.timeline {
  display: flex;
  justify-content: space-between;
}

.timeline-step {
  text-align: center;
  flex: 1;
}

.circle {
  width: 36px;
  height: 36px;
  background: #22c55e;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.step-title {
  font-weight: 600;
  margin-top: 10px;
}

.step-date {
  font-size: 13px;
  color: #6b7280;
}

.about-text {
  font-size: 14px;
  color: #374151;
  line-height: 1.6;
}

@media (max-width: 768px) {

  .ipo-details-container {
    padding: 16px;
  }

  .ipo-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .apply-btn {
    width: 100%;
    text-align: center;
  }

  .details-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .timeline {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    position: relative;
    padding-left: 20px;
  }

  .timeline-step {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    text-align: left;
  }

  .circle {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }

  .step-title {
    font-size: 14px;
  }

  .step-date {
    font-size: 12px;
  }

  .apply-btn{
    display: none;
  }
}

